PySide2==5.15.1
shiboken2==5.15.1
opencv-python==4.1.*
numpy>=1.18.2
pyrealsense2>=2.36.0
bitalino==1.2.1
PyBluez==0.23
PyBluez-win10==0.22
brainflow==3.5.0
cmake
cubemos.skeletontracking==3.0.0
pyserial==3.4
shortuuid>=1.0.1
motor==3.11.2
matplotlib==3.3.3
scipy==1.6.0
https://github.com/drewarnett/pypicoboard/archive/master.zip
nest_asyncio==1.4.3



